	﻿    <div class="credits text-center">
			<p>
				Actigage Demo Application
			</p>
			<p>
				<a href="https://github.com/jroratorio/">Sayan Chakraborty</a> | 
				<a href="https://github.com/jroratorio/actigage-demo">Github Repo</a>
			</p>
		</div>
	</body>
</html>